* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#container {
  background-color: #fff1e6;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#container .errorBox {
  color: #fff;
  width: 60vh;
  text-align: center;
  font-size: 1.3rem;
  overflow: hidden;
  padding: 15px;
}
#container .errorBox .errorMessage {
  position: relative;
  background-color: rgba(94, 84, 142, 80%);
  padding: 10px;
  left: -1000px;
  transition: left 0.8s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#container main {
  background-color: rgba(159, 134, 192, 50%);
  width: 70vh;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#container main .social {
  display: flex;
  gap: 10px;
}
#container main .social a {
  font-size: 1.2rem;
  background-color: rgba(94, 84, 142, 80%);
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}
#container main .social a:hover {
  background-color: rgba(94, 84, 142, 50%);
}
#container main .text {
  width: 100%;
  background-color: #fff1e6;
  padding: 10px;
  color: rgba(94, 84, 142, 53%);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#container main .text .textarea {
  width: 100%;
  height: 100px;
  color: rgba(94, 84, 142, 53%);
  background-color: #fff1e6;
  border: 0;
  outline: none;
  font-size: 1.2rem;
  resize: none;
}
#container main .text .textarea::placeholder {
  color: rgba(94, 84, 142, 53%);
}
#container main .text .text-info {
  display: flex;
  justify-content: space-between;
}
#container main .buttons {
  display: flex;
  justify-content: space-around;
}
#container main .buttons input[type="button"] {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  background-color: rgba(94, 84, 142, 80%);
  border: 0;
  color: #fff;
  padding: 10px 40px;
  border-radius: 10px;
  transition: background-color 0.3s;
}
#container main .buttons input[type="button"]:hover {
  background-color: rgba(94, 84, 142, 50%);
}
